{% extends '../models/base.html' %}

{% block PageTitle %}
Enter Reset password
{% endblock %}

{% block content %}

<div class="bg-main">
    <div class="container">
        <div class="createLink">
            <h1 class="mb-5">Reset password</h1>

            <form method="post">
                {% csrf_token %}
                
                <label for="password" class="mb-3">Password</label>
                <div class="input-group flex-nowrap mb-3">
                    <input type="password" name="new_password1" id="password" class="form-control input_createlink"
                        placeholder="Enter your new password" />
                </div>
                <label for="password2" class="mb-3">Password</label>
                <div class="input-group flex-nowrap mb-3">
                    <input type="password" name="new_password2" id="password2" class="form-control input_createlink"
                        placeholder="Enter your new password agin" />
                </div>

                <div class="d-flex justify-content-center w-100">
                    <button type="submit" class="btn btn-over2 bg-second"><i class="fas fa-cog me-2"></i> Reset password</button>
                </div>


            </form>
            

        </div>
    </div>
</div>
{% endblock %}